name: react-django-postgres
services:
  frontend:
    build:
      context: frontend
      target: development
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/code/src
    depends_on:
      - backend
  backend:
    build:
      context: backend
      target: builder
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=djangodbcrud
      - POSTGRES_USER=djangocruduser
      - POSTGRES_PASSWORD=djangocrudpassword
    ports:
      - "8000:8000"
    networks:
      - server-side
    volumes:
      - ./backend:/app
    depends_on:
      - db
  db:
    image: postgres:13.7
    restart: always
    environment:
      - POSTGRES_DB=djangodbcrud
      - POSTGRES_USER=djangocruduser
      - POSTGRES_PASSWORD=djangocrudpassword
    networks:
      - server-side
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data

networks:
  server-side:

volumes:
  db-data:
